*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.tabs {
	font-family: 'Open Sans';
	width: 1170px;
	margin: 0 auto;
}

.tabs__body {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.tabs__list {
	height: 40px;
}

.tabs__list-options {
	height: inherit;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.tabs__list-options li {
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #333333;
	padding: 10px 66.5px;
}

.tabs__list-options li:first-child{
	border: 1px solid #C6CBCD;
	padding: 10px 67px;
	border-bottom: 3px solid white;
	border-radius: 10px 5px 0 0;
	position: relative;
	top: 0;
	left: 0;
}

.tabs__content {
	display:flex;
	justify-content: space-between;
	border: 1px solid #C6CBCD;
}

.tabs__contetn-left {
	margin: 40px 26.21px 50px 86.68px;
}

.tabs__content-left--title {
	width: 510px;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
	margin: 0 0 38px 0;
	flex:1 1 auto
}

.tabs__contetnt-left--text {
	width: 570px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

p {
margin: 30px 0px;
}

.tabs__content-left--button button {
	background: #EC7979;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
	padding: 15px 50px;
	margin-top: 38px;
	width: 270px;
	height: 58px;
}

.tabs__content-right img {
	width: 500px;
	height: 500px;
	object-fit: cover;
}

