*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
/*
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}*/

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.tabs {
	font-family: 'Open Sans';
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.tabs__body {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.tabs__list {
	height: 40px;
}

.tabs__list-options {
	height: inherit;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.tabs__list-options li {
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #333333;
	padding: 10px 66.5px;
}

.tabs__list-options li:first-child{
	border: 1px solid #C6CBCD;
	padding: 5px 60px 10px 60px;
	border-bottom: 10px solid white;
	border-radius: 5px 5px 0 0;
	position: relative;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
}

.tabs__content {
	display:flex;
	justify-content: space-between;
	border: 1px solid #C6CBCD;
}

.tabs__contetn-left {
	padding: 45px 0 45PX 80px ;
}

.tabs__content-left--title {
	max-width: 400px;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
	margin: 0 0 38px 0;
	flex:0 1 auto
}

.tabs__contetnt-left--text {
	max-width: 570px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

p {
margin: 30px 0px;
}

.tabs__content-left--button button {
	background: #EC7979;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
	padding: 15px 50px;
	margin-top: 38px;
	width: 270px;
	height: 58px;
}

.tabs__content-left--button button:hover {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	color: white;
	background: #AB4949;
}
.tabs__content-left--button button:active {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	color: white;
	background: #EC7979;
}

.tabs__content-right img {
	max-width: 480px;
	height: 480px;
	object-fit: cover;
}

@media (max-width:1024px) {
	.tabs {
		max-width: 992px;
		padding: 0;
	}
	.tabs__list-options li:first-child{
		top: 0px;
		left: 0.8px;
	}
	
	
	.tabs__body {
		margin: 15px;
	}
	
	.tabs__contetn-left {
		padding: 45px 0 45px 80px ;
	}
	
	.tabs__content-left--title {
		max-width: 460px;
	}
	
	.tabs__contetnt-left--text {
		max-width: 482.89px;
		font-size: 14px;
		line-height: 16px;
	}

	.tabs__content-left--button button {
		font-size: 18px;
		line-height: 25px;
		margin-top: 0px;
		width: 231.87px;
		height: 58px;
	}
	
	.tabs__content-right img {
		width: 390px;
		height: 385px;
		object-fit: cover;
	}
}

@media (max-width:960px) {
	.tabs {
		max-width: 992px;
		padding: 0;
	}
	.tabs__list-options li:first-child{
		border: 1px solid #C6CBCD;
		padding: 10px 40px;
		border-bottom: 10px solid white;
		border-radius: 5px 5px 0 0;
		position: relative;
		top: 0px;
		left: 0.9px;
	}
	
	.tabs__body {
		margin-top: 10px;
	}
	.tabs__content{
		margin: 0;
		padding: 0;
		flex-wrap: wrap;
		justify-content: center;
		}

	.tabs__contetn-left {
		text-align: center;
		padding: 20px;
	}
	
	.tabs__content-left--title {
		max-width: 460px;
	}
	
	.tabs__contetnt-left--text {
		max-width: 482.89px;
		font-size: 14px;
		line-height: 16px;
	}

	.tabs__content-left--button button {
		font-size: 18px;
		line-height: 25px;
		margin-top: 0px;
		width: 231.87px;
		height: 58px;
	}
	
	.tabs__content-right img {
		width: 390px;
		height: 385px;
		object-fit: cover;
	}
}

@media (max-width:320px) {
	.tabs {
		max-width: 320px;
		padding: 0;
	}
	
	.tabs__body {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	
	.tabs__list {
		height: 40px;
		max-width: 288px;
	}
	
	.tabs__list-options li {
		font-size: 14px;
		line-height: 19px;
		padding: 5px 25px;
		width: 96px;
	}
	
	.tabs__list-options li:first-child{
		padding: 9px 25px;
		border-bottom: 5px solid white;
	}

	.tabs__contetn-left {
		padding: 30px 15px;
		text-align: center;
	}
	
	.tabs__content-left--title {
		font-size: 18px;
		line-height: 25px;
		text-align: center;
	}
	
	.tabs__contetnt-left--text {
		font-size: 13px;
		line-height: 15px;
	}
		
	.tabs__content-left--button button {
		width: 253px;
		height: 50px;
	}
	
	.tabs__content-right img {
		display: none;
	}
}