.awesome__body {
width: 1170px;
margin: 0 auto;
font-family: 'Raleway';
font-weight: 400;
}

.awesome__header {
	margin: 0 0 85px 0;
}

.awesome__title {
	font-size: 36px;
	line-height: 42px;
	margin: 60px 0 30px 0;
	text-align: center;
}

.awesome__line {
	width: 170px;
	height: 0;
	border: 1px solid #EC7979;
	margin: 60px auto 50px;
}

.awesome__subtitle {
	width: 1170px;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
	text-align: center;
	margin: 0 auto;
	}

.awesome__row {
	display: flex;
	margin: 0 -15px;
}

.awesome__column {
	flex: 0 0 33.333%;
	padding: 0 15px;
	margin-bottom: 58px;
}

.box-awesome__icon {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 92px;
	height: 92px;
	border: 1px solid #EC7979;
	border-radius: 50%;
	margin: 0 0 40px 33.333%;
}

.box-awesome__title {
font-family: 'Open Sans';
font-weight: bold;
font-size: 24px;
line-height: 33px;
text-align: center;
text-transform: capitalize;
margin: 0 0 30px 0;
}

.box-awesome__text {
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
}

