body {
	font-family: 'Raleway';
}

header {
	width: 100%;
	height: 75px;
	background: #000000;
}

.header__menu {
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.header__logo {
	margin-left: 115.28px;
	font-size: 40px;
	color: #FFFFFF;
	display: inline-flex;
}

.logo {
	display: block;
	color: #EC7979;
}

.header__menu {
	margin-right: 60px;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-transform: capitalize;
	color: white;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

.header__menu__list {
	width: 113px;
	cursor: pointer;
}

.axit-download {
	overflow: hidden;
	height: 951px;
	width: 100%;
	background: url(../assets/city.svg) 0 0/cover no-repeat;
	position: relative;
	z-index: 3;
}
.axit-download::before {
	content: "";
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 951px;
}

.axit-download__container {
	width: 1170px;
	margin: 0 auto;
	padding-top: 208px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.axit-download__logo {
	display: inline-flex;
	font-size: 70px;
	color: white;
	font-weight: 600;
	margin-bottom: 72.88px;
}

.axit-download__text {
	width: 670px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.axit-download__title {
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.axit-download__line {
	margin-top: 70px;
	width: 170px;
	height: 0px;
	border: 1px solid #FFFFFF;
	opacity: 0.5;
}

.axit-download__subtitle {
	margin-top: 42px;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	width: 270px;
}
.axit-download__button {
	font-family: 'Open Sans';
}

.axit-download__button {
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid white;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	color: #FFFFFF;
	width: 270px;
	height: 58px;
	margin-top: 73px;
	cursor: pointer;
	margin-bottom: 185px;
}

.axit-download__form {
	font-family: 'Open Sans';
	background-color: white;
	width: 470px;
	height: 450px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.axit-download__info {
	flex: 1 1 auto;
}

.axit-download__form h2 {
	padding-top: 20px;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-transform: uppercase;
	color: #333333;
}

.free {
	color: #EC7979;;
}

.axit-download__info {
	margin-top: 55px;
}

.axit-download__info input {
	outline: none;
	border: 1px solid white;
	border-bottom: 1px solid #BDBDBD;
	display: block;
	width: 370px;
	padding: 20px 0;

}

.axit-download__info input::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #BDBDBD;
}

.axit-start {
	width: 468px;
	height: 60px;
	background: #EC7979;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	border:1px solid #EC7979;
	position: relative;
	top: 0;
	left: 0;
	color: #FFFFFF;
}

.axit-download__foot {
	background: #F8EFEF;
	width: 100%;
	height: 140px;
	margin-bottom: 99px;
}

.foot__container {
	height: inherit;
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.foot__text {
	height: 100px;
	width: 470px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.foot__title{
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-transform: capitalize;
	color: #333333;
}

.foot__subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
}

.stylish {
	background: url(../assets/image.svg) 0 0/cover no-repeat;
	position: relative;
	z-index: 3;
	overflow: hidden;
	height: 442px;
	width: 100%;
}

.stylish::before {
	content: "";
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 442px;
}

.stylish__body {
	width: 1170px;
	padding: 50px 15px;
	margin: 0 auto;
}

.stylish__header {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.stylish__title {
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.stylish__line {
	margin-top: 70px;
	width: 170px;
	height: 0px;
	border: 1px solid #FFFFFF;
}

.stylish__subtitle {
	margin-top: 40px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}

.download button {
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid white;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	color: #FFFFFF;
	font-family: 'Open Sans';
	width: 370px;
	height: 58px;
	margin-top: 73px;
	cursor: pointer;
}

.contact__header {
	margin-top: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.contact__title {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #000000;
}

.contact__line {
	margin-top: 70px;
	width: 170px;
	height: 0px;
	border: 1px solid #EC7979;
}

.contact__subtitle {
	margin-top: 40px;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	color: #86878B;
}

.contact__form {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 89px;
}

.contact__info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 571px;
	height: 200px;
}

.contact__info input {
	display: inline;
	width: 571px;
	outline: none;
	border: 1px solid white;
	border-bottom: 1px solid #BDBDBD;
	padding: 1px 0 16px 0;
	margin-bottom: 55px;
}

input textarea::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #BDBDBD;
	font-family: 'Open Sans';
}

textarea {
	outline: none;
	width: 569px;
	height: 215px;
	display: flex;
	border: 1px solid white;
	border-bottom: 1px solid #BDBDBD;
}

.contact__button-center {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.contact__button{
	font-family: 'Open Sans';
	background: #EC7979;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	text-transform: capitalize;
	padding: 15px 50px;
	margin-top: 38px;
	width: 370px;
	height: 58px;
	color: #FFFFFF;
}

.footer {
	width: 100;
	padding: 40px 0;
	background: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__icons {
	width: 500px;
	display: flex;
	justify-content: space-between;
}

.footer__copyright {
	margin-top: 32px;

	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}