.customers__body {
	padding: 0 15px;
	margin: 0 auto;
	font-family: 'Raleway';
	max-width: 1170px;
}

.customers__title {
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #000000;
	font-size: 36px;
	margin: 100px 0 50px 0;
	text-align: center;
}

.customers__line {
	width: 170px;
	height: 0;
	border: 1px solid #EC7979;
	margin: 0 auto;
	margin-bottom: 60px;
}

.customers__subtitle {
	max-width: 1170px;
	font-size: 18px;
	line-height: 21px;
	color: #86878B;
	text-align: center;
}

.customers__row {
	margin-top: 83px;
	display: flex;
	justify-content: space-between;
	flex: 1 1 33.333%;
}

.customers__text {
	background: #E2E2E2;
	border-radius: 10px;
	max-width: 370px;
	height: 180px;
	text-align: center;
	color: #86878B;
	padding: 38px 15px;
	font-size: 18px;
}

.customers__text::after{
	content: "";
	width: 40px;
	height: 30px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
	position: relative;
	top: 75px;
	right: 150px;
}

.customers__profeli {
	margin-top: 66px;
	margin-bottom: 64px;
	max-width: 370px;
	display: flex;
	align-items: flex-start;
}

.customers__profeli-photo {
	display: inline-flex;
	width: 70px;
	height: 70px;
}

.customers__profeli-name{
	margin-left: 30px;
}

.name {
	margin-top: 0;
	padding-top: 15px;
	font-size: 24px;
	line-height: 33px;
	text-transform: capitalize;
	color: #000000;
	font-family: 'Open Sans';
	height: 54px;
}

@media (max-width:1024px) {
	.customers__body {
		max-width: 992px;
		padding: 0;
	}
	
	.customers__title {
		font-size: 24px;
		line-height: 28px;
	}
	
	.customers__line {
		width: 142px;
	}
	
	.customers__subtitle {
		max-width: 992px;
		font-size: 14px;
		line-height: 16px;
	}
	
	.customers__text {
		width: 317px;
		height: 180px;
		font-size: 14px;
		line-height: 16px;
	}
	
	.customers__text::after{
		content: "";
		width: 40px;
		height: 30px;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 20px solid #E2E2E2;
		position: relative;
		top: 110px;
		right: 150px;
	}
	
	.customers__profeli {
		width: 317px;
	}
	
	.customers__profeli-photo {
		width: 64px;
		height: 64px;
	}

	.name {
		font-size: 18px;
		line-height: 25px;
	}	
}

@media (max-width:960px) {
	.customers__row{
		flex-wrap: wrap;
		justify-content: center;
	}

	.customers__column {
		margin: 0 15px;
	}
}


@media (max-width:450px) {
	.customers__body {
		max-width: 320px;
		padding: 0;
	}
	
	.customers__title {
		font-size: 24px;
		line-height: 28px;
	}
	
	.customers__line {
		width: 134px;
	}
	
	.customers__subtitle {
		max-width: 320px;
		font-size: 14px;
		line-height: 16px;
	}
	
	.customers__text {
		width: 288px;
		height: 180px;
		font-size: 14px;
		line-height: 16px;
	}
	
	.customers__text::after{
		top: 95px;
		right: 120px;
	}
	.customers__column {
		margin: 0 15px;
		padding: 0;
	}
	
	.customers__profeli {
		width: 288px;
	}
	
	.customers__profeli-photo {
		width: 57px;
		height: 57px;
	}

	.name {
		font-size: 14px;
		line-height: 19px;
	}	
}